.container {
  width: 60%;
  max-width: 1440px;
  margin: 32px auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 22px;
  background-color: #fff7e9;
  color: #656b6e;
  border-radius: 12px;
  padding: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.video {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #ff731d;
}

.subtitle {
  font-size: 22px;
  font-weight: normal;
}

.comment {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  padding: 38px 32px 32px 64px;
  border-radius: 8px;
  gap: 12px;
}

.emdash {
  margin-right: 4px;
}

.commentFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  text-align: right;
  font-size: 16px;
}

.comment::before {
  content: '“';
  font-size: 96px;
  position: absolute;
  top: 0px;
  left: 18px;
}

.commentText {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.4;
}

.editLink {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 2px;
  font-weight: bold;
  color: #ff731d;
}

.icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    margin: 16px;
  }
  .content {
    padding: 24px;
  }
  .header {
    gap: 8px;
  }
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 18px;
  }
  .comment {
    padding: 32px 24px 24px 48px;
  }
  .comment::before {
    font-size: 72px;
    left: 12px;
  }
  .commentText {
    font-size: 16px;
  }
  .commentFooter {
    font-size: 14px;
  }
  .editLink {
    font-size: 14px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
}
