.banner {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 96px 128px;
  background-color: #fff7e9;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #ff731d;
}

.subtitle {
  font-size: 24px;
  font-weight: normal;
  color: #7f8487;
}

@media (max-width: 768px) {
  .banner {
    padding: 48px 32px;
  }
  .title {
    font-size: 36px;
  }
  .subtitle {
    font-size: 18px;
  }
}
