.container {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 32px;
  margin: 36px 128px;
}

@media (max-width: 768px) {
  .container {
    margin: 22px 32px;
  }
}
