.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 48px;
  background-color: #fff7e9;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
  font-weight: bold;
  color: #ff731d;
  font-size: 16px;
}

.link {
  cursor: pointer;
}

.activeLink {
  color: #ef5b0c;
}

@media (max-width: 768px) {
  .header {
    padding: 12px 24px;
  }
  .nav {
    gap: 16px;
    font-size: 14px;
  }
}
